/*Filter styles*/
.saturate { filter: saturate(3)!important; }
.grayscale { filter: grayscale(100%)!important; }
.contrast { filter: contrast(160%)!important; }
.brightness { filter: brightness(0.25)!important; }
.blur { filter: blur(3px)!important; }
.invert { filter: invert(100%)!important; }
.sepia { filter: sepia(100%)!important; }
.huerotate { filter: hue-rotate(180deg)!important; }
.rss.opacity { filter: opacity(50%)!important; }