.p0{
    padding: 0 !important;
}

.py8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.h100 {
    height: 100% !important;
}

.ai-center {
    align-items: center !important;
}

.jc-center {
    justify-content: center !important;
}

.ps-relative {
    position: relative !important;
}

.grid {
    display: flex;
}



a {
    color: #0077cc;
    text-decoration: none;
    cursor: pointer;
}

body{
    font-size: 13px;
}