<header class="main-nav">
<div class="nav-container ai-center h100">
    <nav class="left-nav h100">
        <ul class="h100">
            <li id="gear-dropdown-btn" class= "p0 ai-center jc-center">
                <i class="fa fa-bars"></i>
                <%= render partial: 'shared/gear_dropdown' %>
            </li>
            <li>
                <a href="#" class="logo"><span class="icon-logo"></span></a>
            </li>
        </ul>
    </nav>
    <nav class="middle-nav">
        <ul class="h100">
            <li>
                <a href="#" class="menu-button selected-bg">Products</a>
            </li>
            <li>
                <a href="#" class="menu-button">Customers</a>
            </li>
            <li>
                <a href="#" class="menu-button">Use cases</a>
            </li>
        </ul>
    </nav>
    <div class="search-nav">
        <div class="ps-relative">
            <input class="search-bar" name="q" type="text" placeholder="Search…">
            <i class="fa fa-search input-search" aria-hidden="true"></i>
        </div>
        
    </div>
    <nav class="right-nav h100 grid">
        <ul class="grid h100 ai-center">
            <li>
                <button class="s-btn-filled s-btn py8"><a href="#">Log in</a></button>
            </li>
            <li>
                <button class="s-btn-primary s-btn py8"><a href="#">Sign up</a></button>
            </li>
        </ul>
    </nav>
    </div>
</header>