.whole-container{
    width: 100%;
    margin-top: 0;
    height: 100%;
    background: none;
}

.question-show-container{
    width: 100%;
    background-color: white;
    padding: 24px;
    height: 100%;
    border-left: 1px solid #d6d9dc;
    margin-left: 190px;
}

.question-show-header-box{
    flex-direction: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #e4e6e8;
}

.question-show-btn-container{
    margin-left: 12px;
}

.q-button{
    color:white;
}

.show-body-box{
    margin-top: 15px;
}

.question-body-container{
    padding-right: 16px;
}

.question-body{
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.3;
}

.question-user-container{
    padding-top: 4px;
    margin-top: 16px;
    flex-direction: row nowrap;
    justify-content: space-between;
}

.user-auth{
    margin: 4px;
    margin-left: 0;
}

.small-link{
    padding: 0 1px;
    margin-right: 6px;
    color: #848d95;
    font-size: 13px;
}

.small-link:hover{
    color: black;
}

.user-info-box{
    margin: 4px;
    border-radius: 3px;
    background-color: #e1ecf4;
    width: 200px;
    padding: 5px 6px 7px 7px;
}

.question-time-box{
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #6a737c;
}